body{
    margin: 0;
    background: #f5e7d8;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background: #f5e7d8;
    box-shadow: 0 2px 0 rgba(0,0,0,0.03);
}
.navin{
    max-width: 1200px;
    margin:auto;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
height: 34px;
display: block;
}

.nav-links{
    display: flex;
    gap: 28px;
}
.nav-links a{
display: flex;
align-items: center;
gap: 6px;
text-decoration: none;
color:#1f1f1f;
font-size: 13px;
letter-spacing: 0.08em;
font-weight: 500;
}

.chevy{
    width: 10px;
    height: 10px;
}

.nav-act{
    display: flex;
    align-items: center;
    gap: 20px;
}
.join-btt{
    background: #f45b4f;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.login{
    text-decoration: none;
    color: #1f1f1f;
    font-size: 13px;
    letter-spacing: 0.08em;
    font-weight: 500;
}