body{
    margin: 0;
    font-family:Arial,Arial, Helvetica, sans-serif;
    background-color: #f9fafb;
}
.navigation-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 60px;
    background: white;
}
.navigation-bar a{
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.hero{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.hero h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.hero p{
    font-size: 18px;
    color:#555;
    max-width:600px;
}
.cta{
    margin-top:30px;
    padding:15px 30px;
    font-size: 16px;
    border:none;
    background-color:#000;
    color:white;
    cursor:pointer;
    border-radius: 6px;

}